body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    width: 900px;
    max-width: 90%;
    display: block;
    text-align: center;
}
.gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px 6px;
}

img {
    max-width: 100%;
}
a {
    margin: auto;
}

#search {
    width: 60%;
    min-width: 250px;
    height: 40px;
    font-size: 1em;
    margin: auto;
    margin: 30px 0px 30px;
    border-radius: 5px;
    border: 2px solid lightgrey;

} 




